extends ../../layout


block content

    .top.bar


    .documentation-container
        .row
            .column-3.hidden-mobile.overview-container

                section
                    a(href="/")
                        | Lightning

                    ul
                        li
                            a(href="http://github.com/lightning-viz/lightning")
                                | Github
                        li
                            a(href="/")
                                | Website
                        li
                            a(href="/documentation")
                                | Documentation
                        li
                            a(href="/visualizations")
                                | Examples
                        li
                            a(href="https://github.com/lightning-viz/lightning-example-notebooks")
                                | IPython Examples

                section
                    a(href="/visualizations#plots")
                        | Plots

                    ul
                        li
                            a(href="/visualizations#scatter")
                                | Scatter
                        li
                            a(href="/visualizations#line")
                                | Line
                        li
                            a(href="/visualizations#line-stacked")
                                | Line Stacked
                        li
                            a(href="/visualizations#force")
                                | Force
                        li
                            a(href="/visualizations#graph")
                                | Graph
                        li
                            a(href="/visualizations#graph-bundled")
                                | Graph Bundled
                        li
                            a(href="/visualizations#matrix")
                                | Matrix

                        li
                            a(href="/visualizations#adjacency")
                                | Adjacency

                        li
                            a(href="/visualizations#map")
                                | Map                

                section
                    a(href="/visualizations/images")
                        | Images

                    ul
                        li
                            a(href="/visualizations/images#image")
                                | Image
                        li
                            a(href="/visualizations/images#gallery")
                                | Gallery
                

                section
                    a(href="/visualizations/3d")
                        | 3D

                    ul
                        li
                            a(href="/visualizations/3d#particles")
                                | Particles
                        li
                            a(href="/visualizations/3d#volume")
                                | Volume
                
                section
                    a(href="/visualizations/streaming")
                        | Streaming

                    ul
                        li
                            a(href="/visualizations/streaming#line")
                                | Line
                        li
                            a(href="/visualizations/streaming#scatter")
                                | Scatter


            //- .column-1
            .column-3.hidden-mobile.empty-container
            .column-7.mobile-column-3.details-container
                header            
                    .row
                        .column-12
                            .row.header
                                .column-1.mobile-column-1
                                    img(src="/images/logo.png")

                                .column-10.mobile-column-3
                                    h1
                                        | Lightning

                                    | DATA VISUALIZATION SERVER


                section(name="introduction")
                    .row
                        .column-12
                                a(name="visualizations", href="#visualizations")
                                    h2
                                        | Visualizations
                



                section(name="3d")
                    .row
                        .column-12
                                a(name="3d", href="#3d")
                                    h2
                                        | 3D



                                a(name="particles", href="#particles")
                                    h4
                                        | Particles

                                p
                                    | A particle visualization produces a three dimensional scatter plot using three.js. The camera can be controled by using the WASD and arrow keys. Use WASD to move the 
                                    | camera's position, and use the arrow keys to change the direction of the focus (FPS style controls).



                                #particles-iframe(data-url="http://lightning-docs.herokuapp.com/visualizations/146/pym", data-pym)
                                
                                .tab-container
                                    ul
                                        li
                                            a(href="#particles-data-tab")
                                                | Data Structure
                                        li
                                            a(href="#particles-python-tab")
                                                | Python Example

                                    .content-container

                                        #particles-data-tab
                                            pre
                                                code.
                                                    data = {
                                                        "points": [[x0,y0,z0], [x1,y1,z0], ... ]
                                                        "color": [[r0,g0,b0], [10,20,0], ...]
                                                        "group": [g0, g1, ...]
                                                    }

                                        #particles-python-tab

                                            pre
                                                code.
                                                    from numpy import random, column_stack

                                                    n = 500
                                                    x = random.rand(n)*255
                                                    y = random.rand(n)*255
                                                    z = random.rand(n)*255
                                                    c = column_stack((x, y, z))
                                                    lgn.scatter3(x, y, z, color=c, size=3)

                                    
                                a(name="volume", href="#volume")
                                    h4
                                        | Volume

                                p
                                    | Render a collection of images as a three dimensional volume. The images are overlayed on eachother transparently to create a three dimensional effect. This uses the 
                                    | same FPS-style controls as the particles visualization.
                                

                                #volume-iframe(data-url="http://lightning-docs.herokuapp.com/visualizations/154/pym", data-pym)
                                
                                .tab-container
                                    ul

                                        li
                                            a(href="#volume-python-tab")
                                                | Python Example

                                    .content-container


                                        #volume-python-tab

                                            pre
                                                code.
                                                    nx, ny, nz = (50, 50, 50)
                                                    rgb = ndarray((nx,ny,nz,3))
                                                    hsv = ndarray((nx,ny,nz,3))
                                                    for i, ii in enumerate(linspace(0,1,nx)):
                                                        for j, jj in enumerate(linspace(0,1,ny)):
                                                            for k, kk in enumerate(linspace(0,1,nz)):
                                                                position = (i, j, k)
                                                                rgb[position] = (kk, jj, ii)

                                                    lgn.volume([x for x in rgb])

                section(name="plots")
                    .row
                        .column-12
                                a(name="plots", href="/visualizations")
                                    h2
                                        | Plots
                                
                                a(href="/visualizations")
                                    h4
                                        | Click to view plot-based visualizations

                section(name="images")
                    .row
                        .column-12
                                a(name="images", href="/visualizations/images")
                                    h2
                                        | Images

                                a(href="/visualizations/images")
                                    h4
                                        | Click to view image-based visualizations


                section(name="streaming")
                    .row
                        .column-12
                                a(name="streaming", href="/visualizations/streaming")
                                    h2
                                        | Streaming

                                a(href="/visualizations/streaming")
                                    h4
                                        | Click to view streaming visualizations

                                

    .bottom.bar.visible-mobile