extends ../layout


block content

    .top.bar


    .documentation-container
        .row
            .column-3.hidden-mobile.overview-container
                include ../includes/sidebar

            .column-3.hidden-mobile.empty-container
            .column-7.mobile-column-3.details-container

                section(name="introduction" style='margin-top: 20px')
                    .row
                        .column-12
                                a(name="introduction", href="#introduction")
                                    h2
                                        | Introduction

                                p
                                    | Lightning is a framework for interactive data visualization, including a server, visualizations, and client libraries. 

                                p 
                                    | The Lightning server provides API-based access to reproducible, web-based visualizations. It can be deployed in many ways, including Heroku, Docker, a public server, a local app for OS X and Linux — and even a server-less version well-suited to notebooks like Jupyter. It comes bundled with a core set of visualizations, but is built to support custom ones. 

                                p
                                    | Each visualization in Lightning is an 
                                    span.inline-code
                                        | npm
                                    |  module. This makes it easy to 
                                    a(href="/usage/#custom") 
                                        | create new custom visualizations
                                    |  using all of your favorite 
                                    span.inline-code
                                        | npm
                                    |  libraries. If you design a custom visualization and publish it to 
                                    span.inline-code
                                        | npm
                                    | , anyone can install it into their server. And if you've made something general-purpose, we can add it to the core set. 

                                p
                                    | Lightning can expose a single visualization to all the languages of data science. Client libraries are available in multiple languages, including 
                                    a(href="/clients/#python")
                                        | python
                                    | , 
                                    a(href="/clients/#scala")
                                        | scala
                                    | , 
                                    a(href="/clients/#js")
                                        | javascript
                                    | , and 
                                    a(href="/clients/#rstats")
                                        | rstats
                                    | , with more coming soon. If you want to contribute a client for your favorite language, let us know via 
                                    a(href="https://twitter.com/lightningviz")
                                        | twitter
                                    |  or our 
                                    a(href="https://gitter.im/lightning-viz/lightning")
                                        | chatroom on gitter.

                                p 
                                    | To see examples of the types of visualizations that Lightning can produce, check out the examples in the sidebar. To learn how to visualize your own data with Lightning, continue reading here.
                
                section(name="getting-started")
                    .row
                        .column-12
                                a(name="getting-started", href="#getting-started")
                                    h2
                                        | Getting started

                                p
                                    | We've designed many ways to use Lightning, to support a variety of use cases. The options fall into three categories: use a prebuilt server, run your own server, or use locally without a server. Here we introduce the approaches; see individual sections below for more details.

                                p 
                                    | The prebuilt servers are the easiest way to get started with Lightning. You can use our public server  at [http://public.lightning-viz.org] to generate and share any of the core Lightning visualization types, or download the standalone app, which is perfect for doing local data analysis.
                                div
                                    a(href="/setup/#public")
                                        span.method-item
                                            | public

                                    a(href="/setup/#standalone")
                                        span.method-item
                                            | linux 64

                                    a(href="/setup/#standalone")
                                        span.method-item
                                            | os x
                                br
                                p 
                                    | Deploying your own server provides the most control and flexibility. You'll be able to view and edit visualizations, install and manage visualization types, and prototype new ones. You can use a one-click deployment to Heroku, run from our official Docker images, or install and run locally using 
                                    span.inline-code
                                        | node
                                    |  and 
                                    span.inline-code
                                        | npm
                                div
                                    a(href="/setup/#heroku")
                                        span.method-item
                                            | heroku
                                    a(href="/setup/#docker")
                                        span.method-item
                                            | docker
                                    a(href="/setup/#local-server")
                                        span.method-item
                                            | node

                                br
                                p 
                                    | You can also use Lightning without running a server at all through our client libraries (currently only Python). Just by installing the client you have access to Lightning's custom visualizations. This approach is great for data science applications, especially inside of notebooks, but has a few limitations. See the section on the Python client for more.
                                div
                                    a(href="/clients/#python")
                                        span.method-item
                                            | python

    .bottom.bar.visible-mobile
