extends layout


block content

    .top.bar


    .documentation-container
        .row
            .column-3.hidden-mobile.overview-container
                include includes/sidebar

            //- .column-1
            .column-3.hidden-mobile.empty-container
            .column-7.mobile-column-3.details-container
                header      
                    .row(style='margin-top:20px')
                        .column-12
                            .row.header
                                .column-6.mobile-column-1
                                    img(src="/images/logo5.png" width="70px" style='vertical-align: middle;')
                                    h1(style="font-size: 58px; font-family: 'AvenirNext'; color: rgb(145, 117, 240); display:inline-block; padding-left: 30px; vertical-align: middle; margin-top: 0px" class='hidden-mobile')
                                        | Lightning

                            .row(style='margin-top:4%')
                                .column-4.hidden-mobile
                                    each val in ["line", "scatter", "graph", "matrix", "image", "map", "adjacency", "circle", "line", "scatter-3", "volume", "graph-bundled"]
                                        a(href="/visualizations/" + val)
                                            img(src="https://raw.githubusercontent.com/lightning-viz/lightning-default-index/master/thumbnails/" + val + ".png" class='viz-thumbnail' width="100px" )

                                .column-3
                                    h2.caption
                                        | Lightning provides API-based access to reproducible web visualizations.

                                    h2.caption
                                        | Turn your data into interactive visualizations, using your favorite language, with or without a server.

                                    h2.caption
                                        | All visualizations are npm modules, built with the latest web technologies, and endlessly customizable.

                                    a(href='/documentation/#getting-started')
                                        span.method-item.getting-started
                                            | Get started


                        

                            .row(style='margin-top:4%; margin-bottom: 5%')
                                
                                .column-3
                                    h1.method-header
                                        | Many ways to run
                                    hr.method-divider
                                    div
                                        a(href="/setup/#heroku")
                                            span.method-item
                                                | heroku
                                        a(href="/setup/#public")
                                            span.method-item
                                                | public
                                        a(href="/setup/#docker")
                                            span.method-item
                                                | docker
                                        //- a(href="/setup/#public")
                                            span.method-item
                                                | jupyter
                                        a(href="/setup/#standalone")
                                            span.method-item
                                                | linux 64
                                        a(href="/setup/#standalone")
                                            span.method-item
                                                | OS X
                                        a(href="/setup/#local-server")
                                            span.method-item
                                                | NPM

                                .column-1.empty-container
                                .column-3
                                    h1.method-header
                                        | Clients in many languages
                                    hr.method-divider
                                    div
                                        a(href="/clients/#python")
                                            span.method-item
                                                | python
                                        a(href="/clients/#js")
                                            span.method-item
                                                | js
                                        a(href="/clients/#scala")
                                            span.method-item
                                                | scala
                                        a(href="/clients/#rstats")
                                            span.method-item
                                                | r

