extends layout


block content

    .top.bar


    .documentation-container
        .row
            .column-3.hidden-mobile.overview-container
                include includes/sidebar

            //- .column-1
            .column-3.hidden-mobile.empty-container
            .column-7.mobile-column-3.details-container
                header      
                    .row(style='margin-top:20px')
                        .column-12
                            .row.header
                                .column-1.mobile-column-1
                                    img(src="/images/logo5.png" width="70px")

                                .column-3.hidden-mobile
                                    h1(style="font-size: 58px; font-family: 'AvenirNext'; color: #9E62F2")
                                        | Lightning

                                .column-1
                                    .github-container.hidden-mobile
                                        iframe(src="http://ghbtns.com/github-btn.html?user=lightning-viz&repo=lightning&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="110", height="20", style="margin-top:40px; margin-left:-20px")

                            .row(style='margin-top:10px')
                                .column-4.hidden-mobile
                                    img(src="/images/gallery.png" width="440px" style='margin-top:10px')

                                .column-3
                                    h2.caption
                                        | Lightning provides API-based access to reproducible web-based visualizations.

                                    h2.caption
                                        | Turn your data into rich, interactive visualizations, straight from your favorite language, with or without a server.

                                    h2.caption
                                        | All visualizations are npm modules, built with the latest web technologies, and endlessly customizable.

                            .row
                                .column-3
                                    h1.method-header
                                        | Many ways to run
                                    hr.method-divider
                                    div
                                        span.method-item
                                            | heroku
                                        span.method-item
                                            | public
                                        span.method-item
                                            | docker
                                        span.method-item
                                            | jupyter
                                        span.method-item
                                            | linux 64
                                        span.method-item
                                            | OS X

                                .column-3.prefix-1
                                    h1.method-header
                                        | Clients in many languages
                                    hr.method-divider
                                    div
                                        span.method-item
                                            | python
                                        span.method-item
                                            | node
                                        span.method-item
                                            | scala

