extends ../layout


block content

    .top.bar


    .documentation-container
        .row
            .column-3.hidden-mobile.overview-container

                section
                    a(href="/")
                        | Lightning

                    ul
                        li
                            a(href="http://github.com/lightning-viz/lightning")
                                | Github
                        li
                            a(href="/")
                                | Website
                        li
                            a(href="/documentation")
                                | Documentation


                section
                    a(href="#plots")
                        | Plots

                    ul
                        li
                            a(href="#scatter")
                                | Scatter
                    ul
                        li
                            a(href="#scatter")
                                | Scatter
                    ul
                        li
                            a(href="#scatter")
                                | Scatter
                    ul
                        li
                            a(href="#scatter")
                                | Scatter
                    ul
                        li
                            a(href="#scatter")
                                | Scatter
                    ul
                        li
                            a(href="#scatter")
                                | Scatter
                    ul
                        li
                            a(href="#scatter")
                                | Scatter
                    ul
                        li
                            a(href="#scatter")
                                | Scatter


            //- .column-1
            .column-3.hidden-mobile.empty-container
            .column-7.mobile-column-3.details-container
                header            
                    .row
                        .column-12
                            .row.header
                                .column-1.mobile-column-1
                                    img(src="/images/logo.png")

                                .column-10.mobile-column-3
                                    h1
                                        | Lightning

                                    | DATA VISUALIZATION SERVER


                section(name="introduction")
                    .row
                        .column-12
                                a(name="visualizations", href="#visualizations")
                                    h2
                                        | Visualizations
                

                section(name="plots")
                    .row
                        .column-12
                                a(name="plots", href="#plots")
                                    h2
                                        | Plots


                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter
                                a(name="line", href="#line")
                                    h4
                                        | Line
                                a(name="line-stacked", href="#line-stacked")
                                    h4
                                        | Line Stacked
                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter
                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter
                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter
                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter
                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter
                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter
                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter
                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter
                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter
                                a(name="scatter", href="#scatter")
                                    h4
                                        | Scatter

    .bottom.bar.visible-mobile