section
    a(href="/")
        | Lightning

    ul
        li
            a(href="http://github.com/lightning-viz/lightning")
                | Github
        li
            a(href="/")
                | Website
        li
            a(href="/documentation")
                | Documentation
        li
            a(href="/visualizations")
                | Examples
        li
            a(href="https://github.com/lightning-viz/lightning-example-notebooks")
                | IPython Examples

section
    a(href="/visualizations#plots")
        | Plots

    ul
        li
            a(href="/visualizations#scatter")
                | Scatter
        li
            a(href="/visualizations#line")
                | Line
        li
            a(href="/visualizations#line-stacked")
                | Line Stacked
        li
            a(href="/visualizations#force")
                | Force
        li
            a(href="/visualizations#graph")
                | Graph
        li
            a(href="/visualizations#graph-bundled")
                | Graph Bundled
        li
            a(href="/visualizations#matrix")
                | Matrix

        li
            a(href="/visualizations#adjacency")
                | Adjacency

        li
            a(href="/visualizations#map")
                | Map                

section
    a(href="/visualizations/images")
        | Images

    ul
        li
            a(href="/visualizations/images#image")
                | Image
        li
            a(href="/visualizations/images#gallery")
                | Gallery


section
    a(href="/visualizations/3d")
        | 3D

    ul
        li
            a(href="/visualizations/3d#scatter3")
                | Scatter3
        li
            a(href="/visualizations/3d#volume")
                | Volume

section
    a(href="/visualizations/streaming")
        | Streaming

    ul
        li
            a(href="/visualizations/streaming#line")
                | Line
        li
            a(href="/visualizations/streaming#scatter")
                | Scatter


section
    a(href="/visualizations/linked")
        | Linked

    ul
        li
            a(href="/visualizations/linked#scatter-line")
                | Scatter-Line
