section
    a(href="/")
        | Lightning

    ul
        li
            a(href="http://github.com/lightning-viz/lightning")
                | Github
        li
            a(href="/")
                | Website
        li
            a(href="/documentation")
                | Documentation
        li
            a(href="/visualizations")
                | Examples
        li
            a(href="http://nbviewer.ipython.org/github/lightning-viz/lightning-example-notebooks/blob/master/index.ipynb")
                | IPython Examples

section
    a(href="/visualizations}")
        | Visualizations

    ul
        li
            a(href="/visualizations/scatter")
                | Scatter
        li
            a(href="/visualizations/line")
                | Line
        li
            a(href="/visualizations/force")
                | Force
        li
            a(href="/visualizations/graph")
                | Graph
        li
            a(href="/visualizations/graph-bundled")
                | Graph Bundled
        li
            a(href="/visualizations/matrix")
                | Matrix
        li
            a(href="/visualizations/adjacency")
                | Adjacency
        li
            a(href="/visualizations/map")
                | Map                
        li
            a(href="/visualizations/image")
                | Image
        li
            a(href="/visualizations/gallery")
                | Gallery

        li
            a(href="/visualizations/scatter-3")
                | Scatter3
        li
            a(href="/visualizations/volume")
                | Volume
