section
    a(href="/")
        | Lightning

    ul
        li
            a(href="http://github.com/lightning-viz/lightning")
                | Github
        li
            a(href="/")
                | Website
        li
            a(href="/documentation")
                | Documentation
        li
            a(href="/visualizations")
                | Examples
        li
            a(href="https://github.com/lightning-viz/lightning-example-notebooks")
                | IPython Examples


section
    a(href="#server")
        | Launching a server

    ul
        li
            a(href="#heroku")
                | Heroku
        li
            a(href="#local-server")
                | Local Server
        li
            a(href="#first-viz")
                | Creating your first Visualization

section
    a(href="#python")
        | Python client

    ul
        li
            a(href="#install-python")
                | Installation
        li
            a(href="#install-python")
                | Initialization
        li
            a(href="#plotting-python")
                | Creating Plots
        li
            a(href="#ipython")
                | IPython
        li
            a(href="#docs-python")
                | Full Docs

section
    a(href="#embed")
        | Embedding Plots
    ul
        li
            a(href="#embed")
                | iFrames
        li
            a(href="#pym")
                | Pym.js

section
    a(href="#editor")
        | Visualization Editor
    ul
        li
            a(href="#editor-basics")
                | Editor Basics
        li
            a(href="#editor-import")
                | Importing

section
    a(href="#custom")
        | Developing Custom Visualizations
    

    ul
        li
            a(href="#custom-index")
                | index.js
        li
            a(href="#custom-data")
                | sample-data.json
        li
            a(href="#custom-images")
                | sample-images
        li
            a(href="#custom-style")
                | style.scss
        li
            a(href="#custom-template")
                | <visualization-name>.jade
        li
            a(href="#custom-link")
                | Linking Plot Types
        li
            a(href="#custom-inherit")
                | Inheriting from other Plot Types
        li
            a(href="#prototype-locally")
                | Prototyping custom plots locally             
