a(href="/")
    img(src="/images/logo3.png" width='25px' style='margin-left:20px; margin-top:20px')

iframe(src="http://ghbtns.com/github-btn.html?user=lightning-viz&repo=lightning&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="110", height="20", style="margin-top:40px; margin-left:20px")

section
    a(href="/documentation/")
        | Documentation

    ul

        li
            a(href="http://github.com/lightning-viz/lightning")
                | Github

        li
            a(href="/documentation/#introduction")
                | Introduction

        li
            a(href="/documentation/#server")
                | Host a server

        li
            a(href="/documentation/#server")
                | Run without a server

        li
            a(href="/documentation/#clients")
                | Clients

        li
            a(href="/documentation/#sharing")
                | Sharing

        li
            a(href="/documentation/#embedding")
                | Embedding

        li
            a(href="/documentation/#develop")
                | Developing


section
    a(href="/visualizations")
        | Visualizations

    ul
        li
            a(href="/visualizations/scatter")
                | Scatter
        li
            a(href="/visualizations/line")
                | Line
        li
            a(href="/visualizations/force")
                | Force
        li
            a(href="/visualizations/graph")
                | Graph
        li
            a(href="/visualizations/graph-bundled")
                | Graph Bundled
        li
            a(href="/visualizations/matrix")
                | Matrix
        li
            a(href="/visualizations/adjacency")
                | Adjacency
        li
            a(href="/visualizations/map")
                | Map                
        li
            a(href="/visualizations/image")
                | Image
        li
            a(href="/visualizations/gallery")
                | Gallery

        li
            a(href="/visualizations/scatter-3")
                | Scatter3
        li
            a(href="/visualizations/volume")
                | Volume
